<!DOCTYPE html>
<html>
  <head>
    <title>Mommuge</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-startup-image" href="/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="/images/icon.png"/>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    <link rel="stylesheet" href="/stylesheets/jumbotron-narrow.css" />

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
  </head>
  <body>
  	<div class="container">
	    <div class="jumbotron">
			<h1>Your weight today</h1>
			<p class="lead">Constant weight is an important sign to your general health</p>

			<p>&nbsp;</p>

			<form role="form" method="post" class="form-inline">
			    <div class="form-group">
			        <label class="sr-only" for="weight">Weight</label>
			        <input type="text" class="form-control input-lg" id="weight" name="weight" placeholder="Enter your weight">
			    </div>
			    <button type="submit" class="btn btn-lg btn-success">Submit</button>
			</form>
		</div>
	</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app/reload-client.js"></script>
    <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/app/main.js"></script>
  </body>
</html>


