<% layout('masterpage') -%>

<div class="container">
<div class="jumbotron">
	<h1>Your weight today</h1>
	<p class="lead">Constant weight is an important sign to your general health</p>

	<p>&nbsp;</p>

	<form role="form" method="post" class="form-inline">
	    <div class="form-group">
	        <label class="sr-only" for="weight">Weight</label>
	        <input type="text" class="form-control input-lg" id="weight" name="weight" placeholder="Enter your weight">
        </div>
        <div class="form-group">                    
            <select class="form-control" name="unit">
                <option>kg</option>
                <option>lb</option>
                <option>st</option>
            </select>
        </div>
	    <button type="submit" class="btn btn-lg btn-success">Submit</button>
	</form>
</div>
</div>


